<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      img {
        width: 100px;
        height: 100px;
        float: left;
        margin-bottom: 30px;
      }

      body {
        background-color: #aec8d1;
      }
    </style>
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> <%= @user.last_name %></h1>

    <p>The inspector: <b><%= @admin.name %></b> has picked up your inspection request at the address:</p> <br>

      <h3><%= @job.address %></h3><br>
    <p>If you need to contact your inspector you can reach him at this address:</p><br>

      <h3><%= @admin.email %></h3>

    <p>Thank you and have a great day!</p>
    <img src="http://i.imgur.com/JRtEO5U.png" alt="Oakland Tree">
  </body>
</html>
