<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      img {
        width: 100px;
        height: 100px;
        float: left;
        
      }

      body {
        background-color: #aec8d1;
      }
    </style>
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> <%= @user.last_name %></h1><br>

    <p>Regarding your inspection request at the address:</p><br>

    <b><%= @job.address %></b>
    <hr>
    <p>The inspector <%= @admin.name %> has approved this inspection request and closed out the request</p> <br>




    <p>If you need to contact your inspector you can reach him at this address:</p><br>

      <h3><%= @admin.email %></h3>

    <p>Thank you and have a great day!</p>
    <img src="http://i.imgur.com/JRtEO5U.png" alt="Oakland Tree">
  </body>
</html>
