<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      img {
        width: 100px;
        height: 100px;
        float: left;
      }

      body {
        background-color: #aec8d1;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Inspection King, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      You have succesfully registered in the app with the follwoing information:<br>

      <b>Company Name:</b> <%= @user.company %><br>
      <b>Contractor Number:</b> <%= @user.contractor_number %><br>
      <b>Company Phone:</b> <%= @user.phone_number %><br>
      <b>Company Email:</b> <%= @user.email %><br>


    </p>
    <p>

    </p>
    <p>Thanks for joining and have a great day!</p>
    <img src="http://i.imgur.com/JRtEO5U.png" alt="Oakland Tree">
  </body>
</html>
