 <p><%= @admin.email %></p><br>


 <div class="page-header">
 					<h2>Pending Inspections</h2></div>
 			<div class="media">
 					<div class="media-body">
 						<% @admin.inspections.each do |inspection| %>
            <% if inspection.pending? %>
 				<b>Customer First:</b> <%= inspection.user.first_name %><br>
 					<b>Customer Name:</b> <%= inspection.user.last_name %><br>
          <b>Phone Number:</b> <%= inspection.user.phone_number %><br>

            <b>Inspection type:</b> <%= inspection.job.resident_type %><br>
          <b>Address:</b> <%= inspection.job.address %><br>
            <b>Inspection type:</b> <%= inspection.job.inspection_type %><br>

 							<%= link_to "Inspection Options", inspection_path(inspection) %><br>
 							<% end %>
 							<% end %>

 					</div>
 			</div>
