<div class="user_background">

</div>

<h1 align="center"> Account Summary </h1>
<div class="user_profile">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p class="card-text"><%= @user.email %></p>
    <div class="user_edit">
      <%= link_to "Edit Account", edit_user_path(@user), method: :get %><br/>
    </div>
    <div class="user_create_inspection">
      <%= link_to "Create inspection request", new_user_job_path(@user), method: :get %>
    </div>

</div>






<div class="unclaimed">


         <h3>Yet to be claimed Inspections</h3>

           <% @user.jobs.each do |job| %>
           <% if job.claimed == false %>

           <%= job.resident_type %>
           <%= job.address %>
           <%= job.inspection_type %><br>
           <div class="edit_job">
             <%= link_to "Edit Job", edit_user_job_path(current_user, job) %><br>
           </div>
           <hr>
             <% end %>
             <% end %>
</div>

<hr>
<div class="user_instructions">
  <p><b>Instructions: </b>To create and inspection click link and create one. Once its submitted the user will get a conformation email and there are 3 status, yet to be claimed, pending meaning a city offical has claimed it, then once its approved it will moved to approved section so the resident will be able to have a history of their job inspections.</p>
</div>

<!--it's not a huge deal but the spacing here is a little weird-->
<div class="pending">


         <h3>Pending Inspections</h3>

           <% @user.inspections.each do |inspection| %>
           <% if inspection.pending == true  && inspection.approved == false %>
           <b>Inspector:</b> <%= inspection.admin.name %><br>
           <b>Inspector contact:</b> <%= inspection.admin.email %><br>



          <b>Job Address:</b> <%= inspection.job.address %><br>
          <b>Inspection type:</b> <%= inspection.job.inspection_type %><br>
            <div class="user_pending">
               <%= link_to "View Inspection details", inspection_path(inspection) %><br>
            </div>

             <hr>
             <% end %>
             <% end %>

</div>

     <div class="completed">


              <h3>Approved Inspections</h3>

                <% @user.inspections.each do |inspection| %>
                <% if inspection.pending == false %>
                <b>Inspector:</b> <%= inspection.admin.name %><br>
                <b>Inspector contact:</b> <%= inspection.admin.email %><br>
                <b>Job Address:</b> <%= inspection.job.address %><br>
                <b>Inspection type:</b> <%= inspection.job.inspection_type %><br>
                <div class="user_approved">
                  <%= link_to "Review inspection notes", inspection_path(inspection) %><br>
                </div>

                  <hr>
                  <% end %>
                  <% end %>


          </div>
