<h1 align="center"> Account Summary </h1>
<div class="user_profile">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p class="card-text"><%= @user.email %></p>
    <%= button_to "Edit Account", edit_user_path(@user), method: :get, class:"btn btn-primary", type:"button" %><br/>
    <%= button_to "Create inspection request", new_user_job_path(@user), method: :get, class:"btn btn-success", type:"button" %>
</div>






<div class="unclaimed">


         <h3>Yet to be claimed Inspections</h3>

           <% @user.jobs.each do |job| %>
           <% if job.claimed == false %>

           <%= job.resident_type %>
           <%= job.address %>
           <%= job.inspection_type %><br>
           <%= link_to "Edit Job", edit_user_job_path(current_user, job) %><br>

             <% end %>
             <% end %>
</div>

<hr>

<div class="pending">


         <h3>Pending Inspections</h3>

           <% @user.inspections.each do |inspection| %>
           <% if inspection.pending == true  && inspection.approved == false %>
           <b>Inspector:</b> <%= inspection.admin.name %><br>
           <b>Inspector contact:</b> <%= inspection.admin.email %><br>



          <b>Job Address:</b> <%= inspection.job.address %><br>
          <b>Inspection type:</b> <%= inspection.job.inspection_type %><br>

             <%= link_to "View Inspection details", inspection_path(inspection) %><br>
             <% end %>
             <% end %>

</div>

     <div class="completed">


              <h3>Approved Inspections</h3>

                <% @user.inspections.each do |inspection| %>
                <% if inspection.pending == false %>
                <b>Inspector:</b> <%= inspection.admin.name %><br>
                <b>Inspector contact:</b> <%= inspection.admin.email %><br>
                <b>Job Address:</b> <%= inspection.job.address %><br>
                <b>Inspection type:</b> <%= inspection.job.inspection_type %><br>

                  <%= link_to "Review inspection notes", inspection_path(inspection) %><br>
                  <% end %>
                  <% end %>


          </div>
