<h1>History of Inspections</h1>


<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Inspector:</th>
      <th>Inspector contact:</th>
      <th>Job Address:</th>
      <th>Inspection type:</th>
      <th>View Details</th>
    </tr>
  </thead>
  <tbody>
    <% @inspections.each do |inspection| %>
    <tr>
      <td><%= inspection.admin.name %></td>
      <td><%= inspection.admin.email %></td>
      <td><%= inspection.job.address %></td>
      <td><%= inspection.job.inspection_type %></td>
      <td><%= link_to "View Inspection details", inspection_path(inspection), method: :get %></td>
    </tr>
    <% end %>
  </tbody>
</table>
