<div class="open_background">

</div>

<h1 align="center"> All Open Inspections </h1>

<!--Your use of instructions is great and perfect for a government site -->
<div class="open_instructions">
  <p><b>Instructions: </b>From here you can see all open jobs, clicking on "View inspection details" will allow the offical to update the status of the inspection or close it out by approviing it.</p>
</div>
<hr>




<% @inspections.each do |inspection| %>



<% if inspection.pending == true  && inspection.approved == false %>
<div class="open_inspections">
<b>Inspector:</b> <%= inspection.admin.name %><br>
<b>Inspector contact:</b> <%= inspection.admin.email %><br>
<b>Job Address:</b> <%= inspection.job.address %><br>
<b>Inspection type:</b> <%= inspection.job.inspection_type %><br>
<div class="open_button">
  <%= link_to "View Inspection details", inspection_path(inspection), method: :get %><br>
  </div>
</div>


<hr>
<% end %>
<% end %>
