
	<div class="top-margin">
	<div class="container">
	    <div class="row product">



	        </div>

			<br>
			<div class="row product">
	        <div class="col-md-5 col-md-offset-0">
						<h2>Inspection Request for: <%= @inspection.user.first_name %>  <%= @inspection.user.last_name %></h2>
            <hr>
            <b>Building type:</b><%= @inspection.job.resident_type %><br>
            <b>Address:</b><%= @inspection.job.address %><br>
            <b>Inspection type:</b><%= @inspection.job.inspection_type %><br>
						<hr>

            <% @inspection.job.notes.each do |note| %>
            <b>Updated:</b> <%= time_ago_in_words(note.created_at) %> ago<br>
            <b>Subject:</b> <%= note.title %><br>
            <b>Futher instructions:</b> <%= note.instruction %><br>
            <hr>

            <% end %>
            <% if current_admin %>

						<%= button_to "approve!", approve_inspection_path(@inspection), method: :put, class:"btn btn-primary" %><br>
						<%= button_to "Add status to inspection", new_job_note_path(@job), method: :get, class:"btn btn-primary" %><br>
					</div>

					<% end %>
	    </div>
	    <%= link_to "Back", :back, method: :get %>
	</div>
	</div>
