
	<div class="top-margin">
	<div class="container">
	    <div class="row product">



	        </div>

			<br>
			<div class="row product">
	        <div class="col-md-5 col-md-offset-0">
						<h2><%= @inspection.user.first_name %>  <%= @inspection.user.last_name %></h2>
            <hr>
            <%= @inspection.job.resident_type %><br>
            <%= @inspection.job.address %><br>
            <%= @inspection.job.inspection_type %><br>

            <% @inspection.job.notes.each do |note| %>
            Created on:<%= note.created_at %><br>
            Update title: <%= note.title %><br>
            Futher instructions: <%= note.instruction %><br>
            <hr>

            <% end %>
            <% if current_admin %>

						<%= button_to "approve!", approve_inspection_path(@inspection), method: :put, class:"btn btn-primary" %><br>
						<%= button_to "Add status to inspection", new_job_note_path(@job), method: :get, class:"btn btn-primary" %><br>
					</div>

					<% end %>
	    </div>
	    <%= link_to "Back", :back, method: :get %>
	</div>
	</div>
